doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Add product
    link(rel="stylesheet" href="/assets/css/main.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__items
          li.main-header__item
            a(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product") Add-product
    main
      h1 This is error page
