doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="/assets/css/product.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__items
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product") Add-product
    main
      
      div.grid
        // each product in products
        article.card.product-item
          header.card__header
            h1.product__title Great book
          div.card__image
            img(src="http://www.superoffice.ua/img/catalog/item_578.jpg", alt="A book")
          div.card__content
            h2.product__price $19.99
            p.product__description Consectetur vitae dolores nemo praesentium quasi Doloribus repudiandae magni dolores accusamus.
          div.card__action
            button.btn Add to cart
